<h2 class="auth-h2">Log In</h2>

<div class="auth-forms">

  <form action="/auth/login" method="POST">

    <div id="form-container">
      <label class="email">
        <input type="email" name="email" placeholder="email" />
      </label>
      <label class="password">
        <input type="password" name="password" placeholder="password" />
      </label>
      <button class="auth-buttons" type="submit">Log In</button>
    </div>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>