<h4>Add a New Dog</h4>

<div class="add-form">
<form action="/add-dog" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="breed">Breed:</label>
    <input type="text" id="breed" name="breed" required>

    <label for="age">Age:</label>
    <select id="age" name="age" required>
        <option value="">Please choose an option</option>
        <option value="Puppy">Puppy</option>
        <option value="Teen">Teen</option>
        <option value="Mature">Mature</option>
        <option value="Retired">Retired</option>
    </select>

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" required>

    <label for="character">Character:</label>
    <div id="character">
        <label><input type="checkbox" name="character" value="Energetic"> Energetic</label>
        <label><input type="checkbox" name="character" value="Friendly"> Friendly</label>
        <label><input type="checkbox" name="character" value="Quiet"> Quiet</label>
        <label><input type="checkbox" name="character" value="Playful"> Playful</label>
        <label><input type="checkbox" name="character" value="Affectionate"> Affectionate</label>
        <label><input type="checkbox" name="character" value="Shy"> Shy</label>
    </div>

    <input type="submit" value="Add Dog">
</form>
</div>

