{{!-- section 1 --}}

<div id="section-1-container">
    <div id="section-1-left">
        <h1 id="slogan">For Pets, Rated by Pets</h1>
        <p id="index-section-1">Find the perfect home for a getaway with you dog with Fetch. Select an apartment that matches your dogs personality with all their needs.</p>
        <a href="/auth/signup" class="button">Sign up today</a>
    </div>
    <div id="section-1-right">
        <img id="index-hero" src="./images/index-hero-image.jpeg" alt="Hero Image">
    </div>
</div>

{{!-- section 2 --}}

<div id="section-2-container">
    <h3 id="section-2-text">Trusted by the world's most travelled pups</h3>
    <div id="image-container">
        <div class="trusted-dogs">
            <img src="./images/index-german-2.png" class="section-2-images" alt="German">
            <p class="dog-names">Mango</p>
        </div>
        <div class="trusted-dogs">
            <img src="./images/index-german.png" class="section-2-images" alt="German">
            <p class="dog-names">Kevin</p>
        </div>
        <div class="trusted-dogs">
            <img src="./images/index-golden.png" class="section-2-images" alt="German">
            <p class="dog-names">Sasha</p>
        </div>
        <div class="trusted-dogs">
            <img src="./images/index-husky.png" class="section-2-images" alt="German">
            <p class="dog-names">Coco</p>
        </div>
    </div>
</div>