{{!-- section 1 --}}

<div id="section-1-container">
    <div id="section-1-left">
        <h1 id="slogan">For Pets,<br>Rated by Pets</h1>
        <p id="index-section-1"> Discover dog friendly stays with trusted paws of approval</p>
        <a href="/auth/signup" class="button sign-up-button">Sign up today</a>
    </div>
    <div id="section-1-right">
        <img id="index-hero" src="./images/index-hero-image.jpeg" alt="Hero Image">
    </div>
</div>

{{!-- section 2 --}}

<div id="section-2-container">
    <h3 id="section-2-text">Trusted by the world's most travelled pups</h3>
    <div id="image-container">
        <div class="trusted-dogs">
            <img src="./images/index-german-2.png" class="section-2-images" alt="German">
            <p class="dog-names">Mango</p>
        </div>
        <div class="trusted-dogs">
            <img src="./images/index-german.png" class="section-2-images" alt="German">
            <p class="dog-names">Kevin</p>
        </div>
        <div class="trusted-dogs">
            <img src="./images/index-golden.png" class="section-2-images" alt="German">
            <p class="dog-names">Sasha</p>
        </div>
        <div class="trusted-dogs">
            <img src="./images/index-husky.png" class="section-2-images" alt="German">
            <p class="dog-names">Coco</p>
        </div>
    </div>
</div>


<div id="section-3-container">
  <div id="section-3-left">
    <img id="index-hero" src="./images/section-3.jpeg" alt="Hero Image">
  </div>
  <div id="section-3-right">
    <h1 id="section-3-header">Pet-friendly apartments all across Europe</h1>
    <p id="index-section-3">Dogs are a part of the family, so when the family goes away they should of course come too! Finding dog-friendly accommodation can be a frustrating experience. Luckily, with Fetch, you can hear from the travelling pups who have actually stayed there, meaning you can find perfect holiday homes not just accepting pets, but warmly welcoming them for dog vacations.</p>
    <a href="/apartments" class="button apartment-button">Find an apartment</a>
</div>
</div>

<div id="section-4-container">
    <h3 id="section-4-text">Reviews from trustworthy dogs, to help you make the best choice</h3>

    <div id="image-container-4">
        <div class="review-dogs">
            <p id="index-section-4">"A pawsome paradise! Nestled amidst breathtaking nature, this cozy retreat offers spacious living areas with provided dog beds and a prime location near dog-friendly parks and cafes."</p>
            <img src="./images/index-german-2.png" class="section-4-images" alt="German">
            <p class="dog-name">Mango, German Shepard from Germany</p>
        </div>
    </div>
</div>

<div id="section-5-container">
    <h3 id="section-5-header">Ready to plan your next trip?</h3>
    <p class="section-5-text">Sign up today to browse dog-friendly destinations for you and your four-legged friends</p>
    <a href="/auth/signup" class="button sign-up-button">Sign up today</a>
</div>

<div id="section-6-container">
  <div class="left-content">
    <img src="./images/logo.png" alt="Logo" class="footer-logo">
    <div class="created-by">
      <p>Created by</p>
      <br>
      <p>Ollie Juggins</p>
      <br>
      <p>Jess Gregory</p>
    </div>
  </div>
  <div class="divider"></div>
</div>
