<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <div class="nav-left">
      <a href="/">FETCH</a>
    </div>
    <div class="nav-right">
      <a href="/my-kennel">My Kennel</a>
      <a href="/apartment-listings">Apartments</a>
      <a href="/auth/login">Log In</a>
    </div>
  </nav>

  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>