<p class ="form-title">Leave Review</p>

<div class="add-form">
<form action="/leave-review" method="post">
    <label for="dog">Select your pup:</label>
    <select name="dog" id="dog">
        {{#each dogs}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="pros">What were the best parts of your stay?</label>
    <input type="text" id="pros" name="pros" required>

    <label for="cons">What could be improved?</label>
    <input type="text" id="cons" name="cons" required>

    <label for="rating">How would you rate your stay here?</label>
    <input type="number" id="rating" name="rating" required min="1" max="5">

    <input type="hidden" name="apartmentId" value="{{apartmentId}}">

    <input type="hidden" name="userId" value="{{userId}}">


    <input type="submit" value="Add Review">
</form>
</div>