<h1 id="page-title">My Kennel</h1>

<div class="dogs-container">
    {{#each dogs}}
        {{> dogCard}}
    {{/each}}
</div>

<a href="/add-dog">Add a pup</a>

<div class="review-container">
    {{#each reviews}}
        {{> reviewCard}}
    {{/each}}
</div>

