.sub-text {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 20px;
}


/* my kennel*/
#add-dog-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ffc5b9;
  color: #000000;
  border: 1px solid #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dog-card {
  max-width: 400px;
  margin-bottom: 20px;
  padding: 15px;
}

.dogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1250px;
  margin-top: 20px;
}

.dog-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#dog-text {
  background-color: #E5E4E2;
  height: auto;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dog-para {
  margin-bottom: 14px;
  margin: 0;
}

#dog-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#dog-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



  /* .link-container a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    background-color: #ffc5b9;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .link-container a:hover {
    background-color: #222;
    color: #ffffff;
  }
  */



  /* Review container */
  
#kennel-review-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
  
.kennel-review-card {
   max-width: 400px;
  margin-bottom: 20px;
  padding: 15px;
}
  
.kennel-review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1250px;
  margin-top: 20px;
}

#kennel-review-text {
  background-color: #E5E4E2;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}

.kennel-review-para {
  margin-bottom: 14px;
  margin: 0;
}

#kennel-review-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#kennel-review-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

