/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout view */

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

nav a {
  color: black;
  margin-right: 15px;
  font-weight: 700;
  text-decoration: none;
}

.nav-left {
  color: black;
  margin-right: 15px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.nav-right {
  color: black;
  margin-right: 15px;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid lightgray;
  width: 95%;
  margin: auto;
}

.button {
  background-color: lightgray;
  border: 1px solid black;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 4px;
}